*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.header{
    width: 100%;
    height: 97px;
    background-color: #1e2227;
    display: flex;
}
.logo{
    position: absolute;
    left: 152px;
    top: 27px;
    width: 120px;
}
.container{
    width: 100%;
    height: 843px;
    background-color: #1e2227;
    display: flex;
}
.items{
    display: flex;
    position: absolute;
    right: 187px;
    top: 10px;
    
}
.item{
    width: 30px;
    padding: 20px;
}

.content-1{
   position: relative;
   top: 150px;
   left: 152px;
   height: 500px;
}
.content-1 h3{
    color: white;
    font-size: 80px ;
    line-height: 110px;
}
.content-1 p{
    color: white;
    padding-top: 7px;
    padding-bottom: 50px;
    font-size: 20px;
}
.content-1 h6{
    color: white;
    font-size: 39px;
    padding-bottom: 40px;
}

.btn{
    text-decoration: none;
    color: white;
    background-color: #4eacb3;
    padding: 20px 40px;
}
.btn:hover{
    background-color: #3f8286;
}
.content-2{
    background-color: #77f6ff;
    width: 45%;
    height: 800px;
    position: absolute;
    right: 0px;
    top: 140px;
    border-radius: 10px;
}
.main-image{
    transform: rotate(343deg);
    width: 750px;
    position: absolute;
    right: 80px;
    top: 150px;
}
.nike{
    position: absolute;
    left: 56px;
    top: 149px;
    color: white;
    font-size: 130px;
    opacity: 0.9;
}
.color-options{
    display: flex;
    position: absolute;
    bottom: 120px;
    left: 150px;
}
.option-1{
    width: 120px;
    position: absolute;
    transform: rotate(343deg);
    left: -23px;
    top: 25px;
     transition: all 0.4s ease-in-out;
    
}
.option-2{
    width: 120px;
    position: absolute;
    transform: rotate(343deg);
    top: 25px;
    left:130px;
    transition: all 0.4s ease-in-out;
}
.option-3{
    width: 120px;
    position: absolute;
    transform: rotate(343deg);
    top: 25px;
    right: 200px;
    transition: all 0.4s ease-in-out;
}
.option-4{
    width: 120px;
    position: absolute;
    transform: rotate(343deg);
    top: 25px;
    right: 45px;
    transition: all 0.4s ease-in-out;
}
.bg-small-shoe-1{
    width: 90px;
    height: 90px;
    background: #b7c6ff;
    margin: 0px 30px;
    transition: all 0.4s ease-in-out;
}
.bg-small-shoe-2{
    width: 90px;
    height: 90px;
    background: #418b91;
    margin: 0px 30px;
    transition: all 0.4s ease-in-out;
}
.bg-small-shoe-3{
    width: 90px;
    height: 90px;
    background: #ff6767;
    margin: 0px 30px;
    transition: all 0.4s ease-in-out;
}
.bg-small-shoe-4{
    width: 90px;
    height: 90px;
    background: #b9ffc5;
    margin: 0px 30px;
    transition: all 0.4s ease-in-out;
}
/* Animations  */
.option-1:hover{
    width: 150px;
    
}
.bg-small-shoe-1:hover{
    width: 120px;
    height: 120px;
}
.option-2:hover{
    width: 200px;
    width: 150px;
}
.bg-small-shoe-2:hover{
    width: 120px;
    height: 120px;
}
.option-3:hover{
    width: 200px;
    width: 150px;
}
.bg-small-shoe-3:hover{
    width: 120px;
    height: 120px;
}
.option-4:hover{
    width: 200px;
    width: 150px;
}
.bg-small-shoe-4:hover{
    width: 120px;
    height: 120px;
}